Dockerfile
Dockerfile.node
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.env
.pnpm-store
apps/web/node_modules
apps/web/.next
packages/prisma/generated
packages/prisma/node_modules
.vscode/
*.log
