name: ci

on:
  push:
    branches: [master]

jobs:
  docker:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to OCI Container Registry
        uses: docker/login-action@v3
        with:
          registry: hyd.ocir.io
          username: ${{ secrets.TENANCY_NAMESPACE }}/${{ secrets.OCI_USERNAME }}
          password: ${{ secrets.OCI_AUTH_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: hyd.ocir.io/${{ secrets.TENANCY_NAMESPACE }}/${{ github.repository }}:latest
